@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    /* Golden Ratios */
    --golden-ratio-a: 00.056;
    --golden-ratio-b: 00.090;
    --golden-ratio-c: 00.146;
    --golden-ratio-d: 00.236;
    --golden-ratio-e: 00.382;
    --golden-ratio-f: 00.618;
    --golden-ratio-0: 01.000;
    --golden-ratio-1: 01.618;
    --golden-ratio-2: 02.618;
    --golden-ratio-3: 04.236;
    --golden-ratio-4: 06.854;
    --golden-ratio-5: 11.090;
    --golden-ratio-6: 17.944;
    --golden-ratio-7: 29.034;
    --golden-ratio-8: 46.979;
    --golden-ratio-9: 76.013;

    /* Golden Ratios In REM */
    --gr-rem-a: calc(1rem * var(--golden-ratio-a));
    --gr-rem-b: calc(1rem * var(--golden-ratio-b));
    --gr-rem-c: calc(1rem * var(--golden-ratio-c));
    --gr-rem-d: calc(1rem * var(--golden-ratio-d));
    --gr-rem-e: calc(1rem * var(--golden-ratio-e));
    --gr-rem-f: calc(1rem * var(--golden-ratio-f));
    --gr-rem-0: calc(1rem * var(--golden-ratio-0));
    --gr-rem-1: calc(1rem * var(--golden-ratio-1));
    --gr-rem-2: calc(1rem * var(--golden-ratio-2));
    --gr-rem-3: calc(1rem * var(--golden-ratio-3));
    --gr-rem-4: calc(1rem * var(--golden-ratio-4));
    --gr-rem-5: calc(1rem * var(--golden-ratio-5));
    --gr-rem-6: calc(1rem * var(--golden-ratio-6));
    --gr-rem-7: calc(1rem * var(--golden-ratio-7));
    --gr-rem-8: calc(1rem * var(--golden-ratio-8));
    --gr-rem-9: calc(1rem * var(--golden-ratio-9));

    /* Colors */
    --color-0: hsl(0, 0%, 0%);
    --color-1: hsl(0, 0%, 6%);
    --color-2: hsl(0, 0%, 12%);
    --color-3: hsl(0, 0%, 18%);
    --accent-0: hsl(45, 100%, 50%);
    --accent-1: hsl(45, 100%, 36%);

    /* Gradients */
    --accent-gradient-0: linear-gradient(135deg, var(--accent-0), var(--accent-1));
    --accent-gradient-radial-0: radial-gradient(circle at top left, var(--accent-0), var(--accent-1));
    --mono-gradient-0: linear-gradient(0deg, var(--color-3), var(--color-3));
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

body {
    background-color: grey;

    overflow-x: hidden;
}

img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

p {
    font-size: var(--gr-rem-0);
    font-weight: 300;
    line-height: var(--gr-rem-0);
    text-align: left;
}

/* .parallax-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    object-fit: cover;

    background-image: url('/img/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.2s;
}

.parallax-background::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    background-color: black;
    opacity: 0.3;
}

.main {
    position: relative;
    z-index: 1;
} */

/* Common Classes Section Start */
.container {
    min-height: 100vh;
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
}

/* .glass-background {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} */

.section-title {
    color: white;
    font-size: var(--gr-rem-3);
    font-weight: 500;
    line-height: var(--gr-rem-3);
    letter-spacing: var(--gr-rem-c);
    text-align: center;
}

.section-title span {
    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/* Common Classes Section End */

/* Hero Section Start */
#hero {
    position: relative;
    z-index: 1;

    background-image: url(/img/Background.png);
    background-position: top center;
    background-size: cover;
}

#hero::after {
    content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.3;
	z-index: -1;
}

#hero .hero {
    justify-content: flex-start;
    margin: 0 var(--gr-rem-4);
}

#hero h1 {
    position: relative;

    display: block;
    width: fit-content;

    font-size: var(--gr-rem-3);
    font-weight: 700;

    color: transparent;

    animation: text_reveal .5s ease forwards;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 0;

    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);

    animation: text_reveal_box 1s ease;
}

#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    position: relative;

    border: var(--gr-rem-d) solid transparent;
    display: inline-block;
    margin-top: var(--gr-rem-1);
    padding: var(--gr-rem-0) var(--gr-rem-1);

    background-color: transparent;
    color: transparent;
    opacity: 0%;

    animation: cta_reveal 1.5s ease forwards;
    animation-delay: 2.5s; 

    transition-property: color, background-color;
    transition: .3s ease;
}

#hero .cta:hover {
    background-color: var(--color-0);
}

#hero .cta .resume {
    font-size: var(--gr-rem-2);
    font-weight: 600;
    line-height: var(--gr-rem-2);
    text-transform: uppercase;

    transition-property: background-color, background-image;
}

#hero .cta:hover .resume {
    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

/* Hero Section End */

/* Skills Section Start */
#skills {
    background-color: var(--color-1);
}

#skills .skills {
    padding: var(--gr-rem-3);

    flex-direction: column;
}

#skills .skill-bottom {
    margin-top: var(--gr-rem-1);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: var(--gr-rem-0);
}

#skills .skill-item {
    border-radius: var(--gr-rem-0);

    border: var(--gr-rem-a) solid transparent;

    background-image: var(--mono-gradient-0), var(--accent-gradient-radial-0);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
    
}

#skills .skill-item-header {
    margin: var(--gr-rem-1);

    align-items: center;
    display: flex;
    column-gap: var(--gr-rem-0);
}

#skills .skill-item .icon {
    height: calc(var(--gr-rem-4) * 0.8755);
    width: calc(var(--gr-rem-4) * 0.8755);
}

#skills .skill-item .icon i {
    font-size: var(--gr-rem-4);
    line-height: calc(var(--gr-rem-4) * 0.8755);
    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#skills .skill-item h2 {
    font-size: var(--gr-rem-2);
    font-weight: 500;
    line-height: var(--gr-rem-2);

    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}

#skills .skill-item p {
    padding: var(--gr-rem-0);

    font-size: var(--gr-rem-1);
    font-weight: 300;
    line-height: var(--gr-rem-1);
    color: white;

    background-color: var(--color-2);
}

/* Skill Section Animations */
.hide-skill-item {
    scale: var(--golden-ratio-a);

    transition: all 1s;

    opacity: 0;
}

.hide-skill-item:nth-child(odd) {
    translate: -50vw;
}

.hide-skill-item:nth-child(even) {
    translate: 50vw;
}

.show-skill-item {
    transform: translateY(0);

    scale: 1;

    opacity: 1;
    filter: blur(0);
}

.show-skill-item:nth-child(odd) {
    translate: 0vw;
}

.show-skill-item:nth-child(even) {
    translate: 0vw;
}

/* Skills Section End */

/* Projects Section Start */
#projects .projects {
    flex-direction: column;
}

#projects .all-projects {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projects .project-item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: var(--color-1);

    overflow: hidden;
}

#projects .project-info {
    height: 100%;

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 1s ease;
}

#projects .project-info h1 {
    font-size: var(--gr-rem-0);
    font-weight: 300;
    line-height: var(--gr-rem-0);

    transition: 1s ease;
}

#projects .project-info h2 {
    font-size: var(--gr-rem-0);
    font-weight: 300;
    line-height: var(--gr-rem-0);

    transition-delay: 0.25s;
    transition: 1s ease;
}

#projects .project-info p {
    transition-delay: 0.5s;
    transition: 1s ease;
}

#projects .project-img {
    width: 100%;
    height: 300px;

    object-fit: cover;

    font-size: var(--gr-rem-0);
    font-weight: 300;
    line-height: var(--gr-rem-0);

    transition: 2s ease;

    overflow: hidden;
}

#projects .project-img img {
    transition: .3s ease;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* Project Section Animations */
.hide-project-item {
    opacity: 0;
}

.show-project-item {
    filter: blur(0);
    opacity: 1;
}

.hide-project-item .project-info h1 {
    translate: -100%;
}

.show-project-item .project-info h1 {
    translate: 0;
}

.hide-project-item .project-info h2 {
    translate: -100%;
}

.show-project-item .project-info h2 {
    translate: 0;
}

.hide-project-item .project-info p {
    translate: -150%;
}

.show-project-item .project-info p {
    translate: 0;
}

.hide-project-item .project-img {
    translate: 0 100%;
}

.show-project-item .project-img {
    translate: 0;
}

/* Projects Section End*/

/* About Section Start */
#about .about {
    flex-direction: column-reverse;

    text-align: center;
}

#about .col-left {
    width: var(--gr-rem-6);
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    color: white;
    font-size: var(--gr-rem-0);
    font-weight: 300;
    line-height: var(--gr-rem-0);
}

#about .col-right p {
    color: white;
    font-size: var(--gr-rem-0);
    font-weight: 300;
    line-height: var(--gr-rem-0);
    text-align: left;
}

#about .col-left .about-img {
    position: relative;

    font-size: 0;

    overflow: hidden;
}

/* About Section Animations */
.hide-about {
    scale: var(--golden-ratio-a);

    transition: all 1s;

    opacity: 0;
}

.show-about {
    scale: 1;

    filter: blur(0);
    opacity: 1;
}

/* About Section End*/

/* Info Section Start */
#info .info {
    flex-direction: column;
}

#info .info-items {
    display: flex;
    flex-direction: column;
}

#info .info-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;

    background-color: white;

    transition: .3s ease;
}

#info .info-item:hover {
    transform: scale(1.1);
}

#info .icon {
    height: calc(var(--gr-rem-4) * 0.8755);
    width: calc(var(--gr-rem-4) * 0.8755);
}

#info .icon i {
    font-size: var(--gr-rem-4);
    line-height: calc(var(--gr-rem-4) * 0.8755);
}

#info .info-text h1 {
    font-size: var(--gr-rem-0);
    font-weight: 300;
    line-height: var(--gr-rem-0);
}

#info .info-text h2 {
    font-size: var(--gr-rem-0);
    font-weight: 300;
    line-height: var(--gr-rem-0);
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* Info Section End*/

/* Keyframes Start */
@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: var(--accent-1);
        background-color: var(--accent-1);
        background-image: var(--accent-gradient-0);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    }
}

@keyframes text_reveal_box {
    50% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0;
    }
}

@keyframes cta_reveal {
    50% {
        color: transparent;
        border-width: var(--gr-rem-d);
        border-style: solid;
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        color: white;
        border-image: var(--accent-gradient-0) 30;
        border-width: var(--gr-rem-d);
        border-image-slice: 1;
        border-style: solid;
    }
}

/* Keyframes End*/