@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');


:root {
    /* I was way too into the golden ratios at the time, probably not the best
    design choice, but it was an interesting experience only using these.*/

    /* Golden Ratios */
    --golden-ratio-a: 00.056;
    --golden-ratio-b: 00.090;
    --golden-ratio-c: 00.146;
    --golden-ratio-d: 00.236;
    --golden-ratio-e: 00.382;
    --golden-ratio-f: 00.618;
    --golden-ratio-0: 01.000;
    --golden-ratio-1: 01.618;
    --golden-ratio-2: 02.618;
    --golden-ratio-3: 04.236;
    --golden-ratio-4: 06.854;
    --golden-ratio-5: 11.090;
    --golden-ratio-6: 17.944;
    --golden-ratio-7: 29.034;
    --golden-ratio-8: 46.979;
    --golden-ratio-9: 76.013;

    /* Golden Ratios In REM */
    --gr-rem-a: calc(1rem * var(--golden-ratio-a));
    --gr-rem-b: calc(1rem * var(--golden-ratio-b));
    --gr-rem-c: calc(1rem * var(--golden-ratio-c));
    --gr-rem-d: calc(1rem * var(--golden-ratio-d));
    --gr-rem-e: calc(1rem * var(--golden-ratio-e));
    --gr-rem-f: calc(1rem * var(--golden-ratio-f));
    --gr-rem-0: calc(1rem * var(--golden-ratio-0));
    --gr-rem-1: calc(1rem * var(--golden-ratio-1));
    --gr-rem-2: calc(1rem * var(--golden-ratio-2));
    --gr-rem-3: calc(1rem * var(--golden-ratio-3));
    --gr-rem-4: calc(1rem * var(--golden-ratio-4));
    --gr-rem-5: calc(1rem * var(--golden-ratio-5));
    --gr-rem-6: calc(1rem * var(--golden-ratio-6));
    --gr-rem-7: calc(1rem * var(--golden-ratio-7));
    --gr-rem-8: calc(1rem * var(--golden-ratio-8));
    --gr-rem-9: calc(1rem * var(--golden-ratio-9));

    /* Colors */
    --color-0: hsl(0, 0%, 0%);
    --color-1: hsl(0, 0%, 6%);
    --color-2: hsl(0, 0%, 12%);
    --color-3: hsl(0, 0%, 18%);
    --color-4: hsl(0, 0%, 24%);
    --color-5: hsl(0, 0%, 30%);
    --color-6: hsl(0, 0%, 36%);
    --color-7: hsl(0, 0%, 42%);
    --color-8: hsl(0, 0%, 48%);
    --color-9: hsl(0, 0%, 54%);
    --accent-0: hsl(45, 100%, 50%);
    --accent-1: hsl(45, 100%, 36%);

    /* Gradients */
    --accent-gradient-0: linear-gradient(135deg, var(--accent-0), var(--accent-1));
    --accent-gradient-radial-0: radial-gradient(circle at top left, var(--accent-0), var(--accent-1));
    --mono-gradient-0: linear-gradient(0deg, var(--color-3), var(--color-3));
    --card-gradient-0: linear-gradient(135deg, var(--color-2), var(--color-2));

    /* window width*/
    --width: 0px;
    --scroll-bar-width: 0px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Anuphan', sans-serif;
    font-size: 12px;

    scroll-behavior: smooth;

    overflow-x: hidden; 

    scroll-padding-top: var(--gr-rem-2);
}

a {
    text-decoration: none;
}

body {
    background-color: grey;

    margin: 0 auto;
    overflow: hidden;

    overscroll-behavior-y: none;
}

img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

p {
    font-size: var(--gr-rem-0);
    font-weight: 300;
    line-height: var(--gr-rem-0);
    text-align: left;
}

/* .parallax-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    object-fit: cover;

    background-image: url('/img/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.2s;
}

.parallax-background::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    background-color: black;
    opacity: 0.3;
}

.main {
    position: relative;
    z-index: 1;
} */

/* Common Classes Section Start */
.container {
    min-height: 100vh;
    width: 100%;

    align-items: center;
    display: flex;
    justify-content: center;
}

/* .glass-background {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
} */

.section-title {
    color: white;
    font-size: var(--gr-rem-3);
    font-weight: 500;
    text-align: center;
}

.section-title span {
    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* Common Classes Section End */

/* Header Section Start */

#header {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: auto;
}

#header .header {
    min-height: 2rem;
    transition: .6s ease background-color;
}

#header .container {
    align-items: start;
    display: flex;
    justify-content: start;
}

#header .nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--width);
    height: 100%;
    padding: 0 var(--gr-rem-3);
}

#header .nav-bar .section-title {
    font-size: var(--gr-rem-2);
    font-weight: 700;
    line-height: var(--gr-rem-2);
    text-align: center;
}

#header .nav-list ul {
    list-style: none;
    position: absolute;
    background-color: var(--color-1);
    width: 100vw;
    height: 100vh;
    left: 100%;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    overflow-x: hidden;
    flex-direction: column;
    transition: .6s ease left;
}

#header .nav-list ul.active {
    left: 0;
}

#header .nav-list ul a {
    font-size: var(--gr-rem-2);
    font-weight: 700;
    line-height: var(--gr-rem-2);
    text-decoration: none;
    color: white;
    display: block;
    padding: var(--gr-rem-1) 0;
    transition: 0.3s ease color;
    margin: 0 0 0 var(--gr-rem-0);
}

#header .nav-list ul a::after {
    content: attr(data-after);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: var(--color-2);
    font-size: var(--gr-rem-5);
    font-weight: 700;
    line-height: var(--gr-rem-5);
    letter-spacing: var(--gr-rem-3);
    z-index: -1;
    opacity: 0%;
    transition: .6s ease letter-spacing, .6s ease opacity;
}

#header .nav-list ul li:hover a::after {
    transform: translate(-50%, -50%) scale(1);
    letter-spacing: initial;
    opacity: 100%;
}

#header .nav-list ul li:hover a {
    color: var(--accent-1);
    background-color: var(--accent-0);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
}

#header .hamburger {
    z-index: 100;
    height: var(--gr-rem-2);
    width: var(--gr-rem-2);
    margin: var(--gr-rem-0) 0;
    display: inline-block;
    border: var(--gr-rem-c) solid white;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

#header .hamburger .bar {
    height: var(--gr-rem-a);
    width: var(--gr-rem-0);
    position: relative;
    background-color: white;
    z-index: -1;
}

#header .hamburger .bar::before,
#header .hamburger .bar::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background-color: white;
    transition: .3s ease;
    transition-property: top, bottom;

}

#header .hamburger .bar::before {
    top: var(--gr-rem-e);
}

#header .hamburger .bar::after {
    bottom: var(--gr-rem-e);
}

#header .hamburger.active .bar::before {
    top: 0;
}

#header .hamburger.active .bar::after {
    bottom: 0;
}

/* Header Section End */

/* Hero Section Start */
#hero {
    position: relative;
    z-index: 1;

    background-image: url(img/hero_section_background.jpg);
    background-position: top center;
    background-size: cover;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.42;
    z-index: -1;
}

#hero .hero {
    justify-content: flex-start;
    margin: 0 auto;
}

#hero h1 {
    position: relative;

    display: block;
    width: fit-content;
    margin-left: var(--gr-rem-3);

    font-size: var(--gr-rem-3);
    font-weight: 700;
    line-height: var(--gr-rem-3);
    padding-bottom: 0.2em;
    margin-bottom: -0.2em;

    color: transparent;

    animation: text_reveal .5s ease forwards;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 0;

    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);

    animation: text_reveal_box 1s ease;
}

#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero .cta {
    position: relative;

    border: var(--gr-rem-d) solid transparent;
    display: inline-flex;
    flex-direction: row;
    column-gap: var(--gr-rem-0);
    margin-top: var(--gr-rem-1);
    margin-left: var(--gr-rem-3);
    padding: var(--gr-rem-0) var(--gr-rem-0) var(--gr-rem-0) var(--gr-rem-1);

    background-color: transparent;
    color: transparent;
    opacity: 0%;

    animation: cta_reveal 1.5s ease forwards;
    animation-delay: 1.5s;

    transition-property: color, background-color;
    transition: .3s ease;
}

#hero .cta:hover {
    background-color: var(--color-1);
}

#hero .cta .resume {
    font-size: var(--gr-rem-2);
    font-weight: 500;
    line-height: var(--gr-rem-2);
    padding-bottom: 0em;
    margin-bottom: 0em;
    margin: 0 auto;

    transition-property: background-color, background-image;
}

#hero .cta:hover .resume {
    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#hero .cta .icon {
    height: calc(var(--gr-rem-2));
    width: calc(var(--gr-rem-2));
}

#hero .cta .icon i {
    font-size: var(--gr-rem-2);
    line-height: calc(var(--gr-rem-2));
}

#hero .cta:hover .icon i {
    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

/* Hero Section End */

/* Skills Section Start */
#skills {
    background-color: var(--color-1);


    align-items: center;
}

#skills .skills {
    margin: 0 auto;
    padding: var(--gr-rem-1);

    flex-direction: column;
}

#skills .skill-bottom {
    margin-top: var(--gr-rem-1);

    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: var(--gr-rem-0);
}

#skills .skill-item {
    flex-basis: 100%;
    border-radius: var(--gr-rem-0);
    /* border: var(--gr-rem-a) solid transparent;
    background-image: var(--mono-gradient-0), var(--accent-gradient-radial-0);
    background-origin: border-box;
    background-clip: padding-box, border-box; */
    background-color: var(--color-1);
    background-image: var(--card-gradient-0);
    

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;

}

#skills .skill-item-header {
    margin: var(--gr-rem-1);

    align-items: center;
    display: flex;
    column-gap: var(--gr-rem-0);
}

#skills .skill-item .icon {
    height: calc(var(--gr-rem-4));
    width: calc(var(--gr-rem-4));
}

#skills .skill-item .icon i {
    font-size: var(--gr-rem-4);
    line-height: calc(var(--gr-rem-4));
    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#skills .skill-item h2 {
    font-size: var(--gr-rem-2);
    font-weight: 500;
    line-height: var(--gr-rem-2);

    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#skills .skill-item p {
    padding: 0 var(--gr-rem-1) var(--gr-rem-1) var(--gr-rem-1);

    font-size: var(--gr-rem-1);
    font-weight: 300;
    line-height: var(--gr-rem-2);
    color: white;

    background-color: transparent;
}

/* Skill Section Animations */
.hide-skill-item {
    scale: var(--gr-rem-a);

    transition: all 1s;

    opacity: 0;
}

.hide-skill-item:nth-child(odd) {
    translate: -50vw;
}

.hide-skill-item:nth-child(even) {
    translate: 50vw;
}

.show-skill-item {
    transform: translateY(0);

    scale: 1;

    opacity: 1;
    filter: blur(0);
}

.show-skill-item:nth-child(odd) {
    translate: 0vw;
}

.show-skill-item:nth-child(even) {
    translate: 0vw;
}

/* Skills Section End */

/* Projects Section Start */
#projects {
    background-color: var(--color-1);
}

#projects .projects {
    margin: 0 auto;
    padding: var(--gr-rem-1);

    flex-direction: column;
}

#projects .all-projects {
    margin-top: var(--gr-rem-1);

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: var(--gr-rem-0);
}

#projects .project-item {
    border-radius: var(--gr-rem-0);
    /* border: var(--gr-rem-a) solid transparent;
    background-image: var(--mono-gradient-0), var(--accent-gradient-radial-0);
    background-origin: border-box;
    background-clip: padding-box, border-box; */
    background-color: var(--color-1);
    background-image: var(--card-gradient-0);

    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;

    overflow: hidden;
}

#projects .project-info {
    height: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 1s ease;
}

#projects .project-info h1 {
    padding: var(--gr-rem-0) var(--gr-rem-1) 0 var(--gr-rem-1);

    font-size: var(--gr-rem-2);
    font-weight: 500;
    line-height: var(--gr-rem-2);

    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;

    transition: 1s ease;
}

#projects .project-info h2 {
    padding: var(--gr-rem-d) var(--gr-rem-1) 0 var(--gr-rem-1);

    font-size: var(--gr-rem-1);
    font-weight: 700;
    line-height: var(--gr-rem-1);
    color: white;

    transition-delay: 0.25s;
    transition: 1s ease;
}

#projects .project-info p {
    padding: var(--gr-rem-1) var(--gr-rem-4);

    font-size: var(--gr-rem-1);
    font-weight: 300;
    line-height: var(--gr-rem-1);
    color: white;

    transition-delay: 0.5s;
    transition: 1s ease;
}

#projects .project-img {
    width: 100%;
    height: 300px;

    object-fit: cover;
    border-radius: var(--gr-rem-0);

    font-size: 0;

    transition: 2s ease;

    overflow: hidden;
}

#projects .project-img img {
    transition: .3s ease;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* Project Section Animations */
.hide-project-item {
    opacity: 0;
}

.show-project-item {
    filter: blur(0);
    opacity: 1;
}

.hide-project-item .project-info h1 {
    translate: -100%;
}

.show-project-item .project-info h1 {
    translate: 0;
}

.hide-project-item .project-info h2 {
    translate: -100%;
}

.show-project-item .project-info h2 {
    translate: 0;
}

.hide-project-item .project-info p {
    translate: -150%;
}

.show-project-item .project-info p {
    translate: 0;
}

.hide-project-item .project-img {
    translate: 0 100%;
}

.show-project-item .project-img {
    translate: 0;
}

/* Projects Section End*/

/* About Section Start */
#about {
    background-color: var(--color-1);
}

#about .about {
    margin: 0 auto;
    padding: var(--gr-rem-1);

    flex-direction: column-reverse;

    text-align: center;
}

#about .col-left {
    width: var(--gr-rem-6);
}

#about .col-right {
    width: 100%;
}

#about .col-right h2 {
    padding: 0 var(--gr-rem-1);

    color: white;
    font-size: var(--gr-rem-2);
    font-weight: 100;
    line-height: var(--gr-rem-2);
}

#about .col-right ul {
    margin-top: var(--gr-rem-1);
    padding: 0 var(--gr-rem-1);

    color: white;
    font-size: var(--gr-rem-1);
    font-weight: 300;
    line-height: var(--gr-rem-1);
    text-align: center;

    list-style-position: inside;
}

#about .col-left .about-img {
    position: relative;

    margin-top: var(--gr-rem-1);

    font-size: 0;

    border-radius: var(--gr-rem-0);
    border: var(--gr-rem-a) solid transparent;


    overflow: hidden;
}

/* About Section Animations */
.hide-about {
    scale: var(--golden-ratio-a);

    transition: all 1s;

    opacity: 0;
}

.show-about {
    scale: 1;

    filter: blur(0);
    opacity: 1;
}

/* About Section End*/

/* Info Section Start */
#info {
    background-color: var(--color-1);
}

#info .info {
    margin: 0 auto;
    padding: var(--gr-rem-1);

    flex-direction: column;
}

#info .info-items {
    margin-top: var(--gr-rem-1);

    display: flex;
    flex-direction: column;
    row-gap: var(--gr-rem-0);
}

#info .info-item {
    width: 100%;

    border-radius: var(--gr-rem-0);
    /* border: var(--gr-rem-a) solid transparent;
    background-image: var(--mono-gradient-0), var(--accent-gradient-radial-0);
    background-origin: border-box;
    background-clip: padding-box, border-box; */
    background-color: var(--color-1);
    background-image: var(--card-gradient-0);

    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding: var(--gr-rem-1);
    column-gap: var(--gr-rem-0);

    transition: .3s ease;
}

#info .info-item:hover {
    transform: scale(1.1);
}

#info .icon {
    height: calc(var(--gr-rem-4) * 0.8755);
    width: calc(var(--gr-rem-4) * 0.8755);
}

#info .icon i {
    font-size: var(--gr-rem-4);
    line-height: calc(var(--gr-rem-4) * 0.8755);
    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#info .info-text h1 {
    font-size: var(--gr-rem-2);
    font-weight: 500;
    line-height: var(--gr-rem-2);

    color: var(--accent-1);
    background-color: var(--accent-1);
    background-image: var(--accent-gradient-0);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

#info .info-text h2 {
    font-size: var(--gr-rem-1);
    font-weight: 300;
    line-height: var(--gr-rem-1);
    color: white;
}

/* Info Section Animations*/
.hide-info-item {
    scale: 0;
}


.show-info-item {
    scale: 1;
}

.show-info-item:nth-child(1) {
    animation: info-item-reveal-1 1.5s ease-out;
}

.show-info-item:nth-child(2) {
    animation: info-item-reveal-2 1.5s ease-out;
}

.show-info-item:nth-child(3) {
    animation: info-item-reveal-3 1.5s ease-out;
}


/* Info Section End*/

/* Keyframes Start */
@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    0% {
        background-image: var(--accent-gradient-0);
    }
    100% {
        background-image: var(--accent-gradient-0);
    }
}

@keyframes text_reveal_box {
    50% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0;
    }
}

@keyframes cta_reveal {
    50% {
        color: transparent;
        border-width: var(--gr-rem-d);
        border-style: solid;
        opacity: 0%;
    }

    100% {
        opacity: 100%;
        color: white;
        border-image: var(--accent-gradient-0) 30;
        border-width: var(--gr-rem-d);
        border-image-slice: 1;
        border-style: solid;
    }
}

@keyframes info-item-reveal-1 {
    0% {
        translate: -50vw;
    }

    33% {
        translate: 0px;
    }
}

@keyframes info-item-reveal-2 {
    0% {
        translate: -50vw;
    }

    67% {
        translate: 0px;
    }
}

@keyframes info-item-reveal-3 {
    0% {
        translate: -50vw;
    }

    100% {
        translate: 0px;
    }
}

/* Keyframes End*/

/* Tablet Media Query Start */

@media only screen and (min-width:768px) {
    .section-title {
        font-size: var(--gr-rem-4);
        line-height: var(--gr-rem-4);
    }

    #hero h1 {
        font-size: var(--gr-rem-4);
        line-height: var(--gr-rem-4);
    }

    #hero .cta {
        margin-top: var(--gr-rem-2);
    }

    #hero .cta .resume {
        font-size: var(--gr-rem-3);
        line-height: var(--gr-rem-3);
    }

    #hero .cta .icon {
        height: calc(var(--gr-rem-3));
        width: calc(var(--gr-rem-3));
    }
    
    #hero .cta .icon i {
        font-size: var(--gr-rem-3);
        line-height: calc(var(--gr-rem-3));
    }

    #skills .skill-bottom {
        row-gap: var(--gr-rem-0);
        column-gap: var(--gr-rem-0);
    }

    #skills .skill-bottom .skill-item {
        flex-basis: 49%;
    }

    #skills .skill-item h2 {
        font-size: var(--gr-rem-2);
        font-weight: 500;
        line-height: var(--gr-rem-2);
    }

    #skills .hide-skill-item:nth-child(odd) {
        translate: -30vw;
    }

    #skills .hide-skill-item:nth-child(even) {
        translate: 30vw;
    }

    #skills .show-skill-item:nth-child(odd) {
        translate: 0vw;
    }
    
    #skills .show-skill-item:nth-child(even) {
        translate: 0vw;
    }

    #projects .project-item {
        flex-direction: row;
        align-items: center;
    }

    #projects .project-item:nth-child(even) {
        flex-direction: row-reverse;
    }

    #projects .project-info {
        height: 100%;
        flex: var(--golden-ratio-1) 1 0;
    }

    #projects .project-img {
        height: 100%;
        flex: var(--golden-ratio-1) 1 0;
    }

    .hide-project-item:nth-child(even) .project-info h1 {
        translate: 100%;
    }
    
    .show-project-item:nth-child(even) .project-info h1 {
        translate: 0;
    }

    .hide-project-item:nth-child(even) .project-info h2 {
        translate: 100%;
    }
    
    .show-project-item:nth-child(even) .project-info h2 {
        translate: 0;
    }

    .hide-project-item:nth-child(even) .project-info p {
        translate: 100%;
    }
    
    .show-project-item:nth-child(even) .project-info p {
        translate: 0;
    }

    .hide-project-item:nth-child(odd) .project-img {
        translate: 100% 0;
    }

    .hide-project-item:nth-child(even) .project-img {
        translate: -100% 0;
    }
    
    .show-project-item:nth-child(odd) .project-img {
        translate: 0;
    }

    .show-project-item:nth-child(even) .project-img {
        translate: 0;
    }

    #about .about {
        flex-direction: row;
        column-gap: var(--gr-rem-0);
        max-width: calc(1920px * (1 - var(--golden-ratio-f)) + var(--gr-rem-3));
    }

    #about .col-left {
        flex: var(--golden-ratio-0) 1 0;
    }

    #about .col-right {
        flex: var(--golden-ratio-1) 1 0;
    }
    
    #about .col-right ul {
        text-align: start;
        list-style-position: outside;
        padding-left: var(--gr-rem-2);
    }
}

/* Tablet Media Query End */

/* Desktop Media Query Start */
@media only screen and (min-width:1200px) {
    #header .container {
        margin-left: calc(-0.5 * var(--scroll-bar-width));
        justify-content: center;

    }

    #header .hamburger {
        display: none;
    }

    #header .nav-list ul {
        position: initial;
        display: block;
        height: auto;
        width: fit-content;
        background-color: transparent;
    }

    #header .nav-list ul li {
        display: inline-block;
    }

    #header .nav-list ul a {
        font-size: var(--gr-rem-1);
        font-weight: 700;
        line-height: var(--gr-rem-1);
    }

    #header .nav-list ul a:after {
        display: none;
    }

    #skills .skill-bottom {
        row-gap: var(--gr-rem-1);
        column-gap: var(--gr-rem-1);
    }

    #skills .skill-item h2 {
        font-size: var(--gr-rem-3);
        line-height: var(--gr-rem-3);
    }

    #projects .all-projects {
        row-gap: var(--gr-rem-1);
    }    

    #projects .project-info h1 {
        font-size: var(--gr-rem-3);
        line-height: var(--gr-rem-3);
    }
    
    #projects .project-info h2 {
        font-size: var(--gr-rem-2);
        line-height: var(--gr-rem-2);
    }

    #projects .project-img {
        flex: var(--golden-ratio-0) 1 0;
    }

    #header .nav-bar {
        max-width: calc(1920px * (1 - var(--golden-ratio-d)) + var(--gr-rem-3));
    }

    #hero .hero {
        max-width: calc(1920px * (1 - var(--golden-ratio-d)) + var(--gr-rem-3));
    }

    #skills .skills {
        max-width: calc(1920px * (1 - var(--golden-ratio-d)) + var(--gr-rem-3));
    }

    #projects .projects {
        max-width: calc(1920px * (1 - var(--golden-ratio-d)) + var(--gr-rem-3));
    }

    #about .about {
        max-width: calc(1920px * (1 - var(--golden-ratio-f)) + var(--gr-rem-3));
        column-gap: var(--gr-rem-1);
    }

    #info .info {
        max-width: calc(1920px * (1 - var(--golden-ratio-d)) + var(--gr-rem-3));
    }

    #info .info-items {
        flex-direction: row;
        row-gap: 0;
        column-gap: var(--gr-rem-1);
    }

    @keyframes info-item-reveal-1 {
        0% {
            translate: -600px;
        }
    
        50.590% {
            translate: 0;
        }
    }
    
    @keyframes info-item-reveal-2 {
        0% {
            translate: -893px;
        }
    
        75.295% {
            translate: 0;
        }
    }
    
    @keyframes info-item-reveal-3 {
        0% {
            translate: -1186px;
        }
    
        100% {
            translate: 0;
        }
    }
}
/* Desktop Media Query End */