@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://use.fontawesome.com/releases/v6.2.1/css/all.css");

:root {
    /* Golden Ratios */
    --golden-ratio-a: 00.056;
    --golden-ratio-b: 00.090;
    --golden-ratio-c: 00.146;
    --golden-ratio-d: 00.236;
    --golden-ratio-e: 00.382;
    --golden-ratio-f: 00.618;
    --golden-ratio-0: 01.000;
    --golden-ratio-1: 01.618;
    --golden-ratio-2: 02.618;
    --golden-ratio-3: 04.236;
    --golden-ratio-4: 06.854;
    --golden-ratio-5: 11.090;
    --golden-ratio-6: 17.944;
    --golden-ratio-7: 29.034;
    --golden-ratio-8: 46.979;
    --golden-ratio-9: 76.013;

    /* Golden Ratios In REM */
    --gr-rem-a: calc(1rem * var(--golden-ratio-a));
    --gr-rem-b: calc(1rem * var(--golden-ratio-b));
    --gr-rem-c: calc(1rem * var(--golden-ratio-c));
    --gr-rem-d: calc(1rem * var(--golden-ratio-d));
    --gr-rem-e: calc(1rem * var(--golden-ratio-e));
    --gr-rem-f: calc(1rem * var(--golden-ratio-f));
    --gr-rem-0: calc(1rem * var(--golden-ratio-0));
    --gr-rem-1: calc(1rem * var(--golden-ratio-1));
    --gr-rem-2: calc(1rem * var(--golden-ratio-2));
    --gr-rem-3: calc(1rem * var(--golden-ratio-3));
    --gr-rem-4: calc(1rem * var(--golden-ratio-4));
    --gr-rem-5: calc(1rem * var(--golden-ratio-5));
    --gr-rem-6: calc(1rem * var(--golden-ratio-6));
    --gr-rem-7: calc(1rem * var(--golden-ratio-7));
    --gr-rem-8: calc(1rem * var(--golden-ratio-8));
    --gr-rem-9: calc(1rem * var(--golden-ratio-9));

    /* Common Colors */
    --color-0: #1f1f1f;
    --color-1: #ffbe00;
    --color-2: #f2f2f2;
    --color-3: #e6e6e6;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    background-color: black;
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

p {
    font-size: var(--gr-rem-0);
    text-align: left;
}

.parallax-background {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;
    object-fit: cover;

    background-image: url('/img/Background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    transition: all 0.2s;
}

.parallax-background::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    background-color: black;
    opacity: 0.3;
}

.main {
    position: relative;
    z-index: 1;
}

/* Common Classes Section Start */

.container {
    display: flex;
    min-height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.glass-background {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.section-title {
    margin-bottom: var(--gr-rem-0);

    font-size: var(--gr-rem-3);
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.section-title span {
    color: var(--color-1);
}

.section-spacer {
    min-height: calc(var(--golden-ratio-a) * 100vh);
}

/* Common Classes Section End */

/* Hero Section Start */
#hero {
    position: relative;
    z-index: 1;
}

/* #hero::after {
    content: '';

    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    height: 100%;
    width: 100%;

    background-color: black;
    opacity: 0.3;
} */

#hero .hero {
    max-width: calc(1920px * var(--golden-ratio-f));

    margin: 0 auto;
    padding: 0 var(--gr-rem-3);
    justify-content: flex-start;
}

#hero h1 {
    /* Hero Text */
    position: relative;
    width: fit-content;

    display: block;

    font-size: var(--gr-rem-2);
    font-weight: 700;

    color: transparent;

    animation: text_reveal .5s ease forwards;
}

#hero h1:nth-child(1) {
    animation-delay: 1s;
}

#hero h1:nth-child(2) {
    animation-delay: 2s;
}

#hero h1:nth-child(3) {
    animation: text_reveal_name .5s ease forwards;
    animation-delay: 3s;
}

#hero h1 span {
    /* Hero Text Reveal Box */
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 0;

    background-color: var(--color-1);

    animation: text_reveal_box 1s ease;
}

#hero h1:nth-child(1) span {
    animation-delay: 0.5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    /* Resume Download Button */
    display: inline-block;
    margin-top: var(--gr-rem-1);
    padding: var(--gr-rem-0) var(--gr-rem-1);
    border: var(--gr-rem-d) solid var(--color-1);

    font-weight: 600;
    font-size: var(--gr-rem-1);
    text-transform: uppercase;
    letter-spacing: var(--gr-rem-b);

    color: white;
    background-color: transparent;

    transition: .3s ease;
    transition-property: color, background-color;
}

#hero .cta:hover {
    background-color: var(--color-1);
}

/* Hero Section End */

/* Skills Section Start */

#skills .skills {
    max-width: calc(1920px * var(--golden-ratio-f));

    margin: 0 auto;
    padding: var(--gr-rem-0) 0;
    flex-direction: column;

    text-align: center;
}

#skills .skill-top p {
    margin: var(--gr-rem-0) var(--gr-rem-3);


    font-size: var(--gr-rem-1);
    font-weight: 500;
    line-height: var(--gr-rem-1);
    text-align: left;
    color: white;
}

#skills .skill-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: var(--gr-rem-0);
}

#skills .skill-item {
    display: flex;
    /* flex-basis: calc(var(--golden-ratio-f) * 100% + (50% - var(--golden-ratio-f) * 50%)); */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: var(--gr-rem-0) var(--gr-rem-3);
    border-radius: var(--gr-rem-0);

    background-color: var(--color-2);
    overflow: hidden;
}

#skills .skill-item-header {
    display: flex;
    align-items: center;
    column-gap: var(--gr-rem-1);

    padding: var(--gr-rem-1) var(--gr-rem-1) var(--gr-rem-0) var(--gr-rem-1);
}

#skills .skill-item .icon {
    height: calc(var(--gr-rem-4) * 0.8755);
    width: calc(var(--gr-rem-4) * 0.8755);
}

#skills .skill-item .icon i {
    font-size: var(--gr-rem-4);
    line-height: calc(var(--gr-rem-4) * 0.8755);
}

#skills .skill-item h2 {
    font-size: var(--gr-rem-2);
    font-weight: 800;
}

#skills .skill-item p {
    padding: var(--gr-rem-1) var(--gr-rem-1) var(--gr-rem-1) var(--gr-rem-1);
    border-radius: 0 0 var(--gr-rem-0) var(--gr-rem-0);

    background-color: var(--color-3);
}

/* Skill Section Animations */
.hide-skill-item {
    opacity: 0;
    transition: all 1s;
    scale: var(--golden-ratio-a);
}

.hide-skill-item:nth-child(odd) {
    translate: -50vw;
}

.hide-skill-item:nth-child(even) {
    translate: 50vw;
}

.show-skill-item {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
    scale: 1;
}

.show-skill-item:nth-child(odd) {
    translate: 0vw;
}

.show-skill-item:nth-child(even) {
    translate: 0vw;
}

/* Skills Section End */

/* Projects Section Start */

#projects .projects {
    max-width: calc(1920px * var(--golden-ratio-f));

    margin: 0 auto;
    padding: var(--gr-rem-0) 0;
    flex-direction: column;
}

#projects .all-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#projects .project-item {
    display: flex;
    /* flex-basis: calc(var(--golden-ratio-f) * 100% + (50% - var(--golden-ratio-f) * 50%)); */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin: var(--gr-rem-0) var(--gr-rem-3);
    border-radius: var(--gr-rem-0);

    background-color: var(--color-2);
    overflow: hidden;
}

#projects .project-info {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: var(--gr-rem-1) var(--gr-rem-1) var(--gr-rem-0) var(--gr-rem-1);

    transition: 1s ease;
}

#projects .project-info h1 {
    font-size: var(--gr-rem-2);
    font-weight: 800;

    transition: 1s ease;
}

#projects .project-info h2 {
    margin-top: var(--gr-rem-d);

    font-size: var(--gr-rem-1);
    font-weight: 500;

    transition: 1s ease;
    transition-delay: 0.25s;
}

#projects .project-info p {
    margin-top: var(--gr-rem-c);

    transition: 1s ease;
    transition-delay: 0.5s;
}

#projects .project-img {
    width: 100%;
    height: 300px;

    object-fit: cover;
    overflow: hidden;
    border-radius: var(--gr-rem-0);

    font-size: 0rem;

    transition: 2s ease;
}

#projects .project-img img {
    transition: .3s ease;
}

#projects .project-item:hover .project-img img {
    transform: scale(1.1);
}

/* Project Section Animations */
.hide-project-item {
    opacity: 0;
}

.show-project-item {
    opacity: 1;
    filter: blur(0);
}

.hide-project-item .project-info h1 {
    translate: -100%;
}

.show-project-item .project-info h1 {
    translate: 0;
}

.hide-project-item .project-info h2 {
    translate: -100%;
}

.show-project-item .project-info h2 {
    translate: 0;
}

.hide-project-item .project-info p {
    translate: -150%;
}

.show-project-item .project-info p {
    translate: 0;
}

.hide-project-item .project-img {
    translate: 0 100%;
}

.show-project-item .project-img {
    translate: 0;
}


/* Projects Section End*/

/* Keyframes Start */

@keyframes text_reveal {
    100% {
        color: white;
    }
}

@keyframes text_reveal_name {
    100% {
        color: var(--color-1);
    }
}

@keyframes text_reveal_box {
    50% {
        left: 0;
        width: 100%;
    }

    100% {
        left: 100%;
        width: 0;
    }
}

/* Keyframes End*/